/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 2px; /* Set the width of the scrollbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #888; /* Set the background color of the thumb */
    border-radius: 5px; /* Add some rounded corners */
}

/* Style the scrollbar track when it's hovered */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media (max-width: 500px) {
    .detail_left{
        width: 100%;
        /* background-color: aqua; */
    }
    .detail_right{
        min-width: 100%;
        margin-top: -10px;
    }
    .main_detail{
        flex-wrap: wrap;
    }
    #TopUpModal{
        margin-top: 13rem;
    }
    .ExchangeModal{
        margin-top: 4rem;
    }
    .Exchange_Blade{
        max-width: 75%;
    }
    .Exchange_Blade_MB{
        margin-top: 79rem;
        max-width: 20%;
    }
}

@media (max-width: 280px){
    .ExchangeModal{
        margin-top: 3rem;
    }
}

@media (min-width: 500px) {
    .Exchange_Blade{
        min-width: 75%;
    }
    .Exchange_Blade_MB{
        margin-top: 79rem;
        min-width: 20%;
    }

}

#main-all-card-topUp {
    padding: 124.5px 0 124.5px 0;
}

/* ===========Detain_information================== */
.main_detail{
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
    width: 100%;
}
#TopUpModal{
    margin-top: 13rem;
}
.ExchangeModal{
    padding-top: 4rem;
}
.detail_left{
    min-width: 50%;
    /* gap: 20px; */
}
.detail_right{
    max-width: 50%;
}

/* ==================Exchange_Blade================== */
.Exchange_Blade{
    width: 100%;
}
.Exchange_Blade_MB{
    margin-top: 37px;
    width: 20%;
}


/* =================HistoryModalExchange================= */
.HistoryModalExchange{
    padding-top: 7rem;
}
table th{
    white-space: nowrap;
}


/* =================HistoryModalTopup================= */
.HistoryModalTopup{
    padding-top: 7rem;
}
